html{
	background-image:url("imagenes/fondo.jpg");
	background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: left top;
}
@font-face { /*http://www.fontsquirrel.com/tools/webfont-generator*/
    font-family: 'fuentes1';
    src: url('fuentes/fuente1/fuente1-webfont.eot');
    src: url('fuentes/fuente1/fuente1-webfont.eot?#iefix') format('embedded-opentype'),
         url('fuentes/fuente1/fuente1-webfont.woff') format('woff'),
         url('fuentes/fuente1/fuente1-webfont.ttf') format('truetype'),
         url('fuentes/fuente1/fuente1-webfont.svg#04b03regular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'fuentes2';
    src: url('fuentes/fuente2/oldlondon-webfont.eot');
    src: url('fuentes/fuente2/oldlondon-webfont.eot?#iefix') format('embedded-opentype'),
         url('fuentes/fuente2/oldlondon-webfont.woff') format('woff'),
         url('fuentes/fuente2/oldlondon-webfont.ttf') format('truetype'),
         url('fuentes/fuente2/oldlondon-webfont.svg#old_londonregular') format('svg');
    font-weight: normal;
    font-style: normal;
    
}
.encabezado{
	width: 1100px;
	height: 100px;
	padding: 20px 40px 20px 40px;
	border: 3px solid #000;
	border-style: double; 
	
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(66,66,66,1)), color-stop(100%,rgba(183,183,183,1)), color-stop(100%,rgba(237,237,237,1))); */
	/*background-image: linear-gradient(to right bottom, rgb(174, 89, 96) 0%, rgb(209, 147, 23) 49%); */
	background-image:url("imagenes/fondoTitulo.png");
	background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: left top;
	
	color: #000;
	border-radius: 15px;
	margin: 20px;
	font-family:Arial;
	/*font-style:oblique;*/
	font-weight: 100;
	font-family: 'fuentes1';
}
.cuerpo{
	margin-left: auto;
	margin-right: auto;
	width: 1100px;
	height: 640px;
	padding: 20px 40px 20px 40px;
	/*border: 3px solid #999;*/
	/*background: -webkit-linear-gradient(top, rgba(64,150,238,1) 0%,rgba(96,171,248,1) 50%,rgba(122,188,255,1) 100%);*/

	/*#656565*/
	/*color: #fff;*/
	border-radius: 15px;
	margin: 20px;
}
.titulo{
	width: 1010px;
	height: 100px;
	padding: 20px 10px 20px 40px;
	/*border: 3px solid #f00;*/
	/*background-image: url('imagenes/adorno.png');*/
	background-size: 850px 140px;
	background-repeat: no-repeat;
	color: #f00;
	border-radius: 15px;
	margin: 20px;
	align: center;
	text-align: center;
	vertical-align: middle;
	font-size: 40px;
	font-family: 'fuentes2';
	
	display: table-cell;
    vertical-align: middle;
	
	
	
	
	background-image:url("imagenes/adorno.png");
	background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: left top;
}
img{
	vertical-align: middle;
	align: center;
	text-align: center;
	
/*	left: 50%;*/
/*	top: 50%;*/
	/*position: absolute;*/
}
p{
	color: #f00;
}
code{
	font-family: 'fuentes1';
	color: #f00;
}
table{
	margin-left: auto;
	margin-right: auto;
}




table {
	width: 100%;
	color: #212424;
	margin: 0 0 1em 0;	
	font: 80%/150% "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Lucida, Helvetica, sans-serif;
}
table, tr, th, td {
	margin: 0;
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse;
}
caption {
	width: 100%;
	height: 39px;
	font-size: 0;
	line-height: 0;
	text-indent: -5000em;
	background: url(http://taimar.pri.ee/examples/table-design/caption.gif) no-repeat 98% 0;
}
caption:hover {
	background-position: 98% 100%;
}

/* HEADER */

thead {
	background: #524123;
}


/* BODY */

tbody tr td {
	background: #DDF0BD;
}

tbody tr th, tbody tr td {
	padding: 0.1em 0.4em;
	border: 1px solid #a6ce39;
}
tbody tr th {
	padding-right: 1em;
	text-align: center;
	font-weight: normal;
	background: #c5e894 url(http://taimar.pri.ee/examples/table-design/bg_cell.gif) no-repeat top left;
	text-transform: uppercase;
	font-weight:bold;
}

/* LINKS */

table a {
	color: #854400;
	text-decoration: none;
}
table a:visited {
	text-decoration: line-through;
}
table a:hover {
	text-decoration: underline;
}
tbody th a:link,
tbody th a:visited {
	font-weight:bold;
}


/* AL PASARSE POR ENCIMA */
tbody tr.odd th,
tbody tr.odd td {
	background-color: #D0EBA6;
	font-weight:bold;
}

tbody tr:hover td, tbody tr:hover th {
	background:#D0EBA6;
	font-weight:bold;
}
#textoDerecha{
	text-align: right;
	color: #000;
}

#campoInsertar{
	text-align: center;
	height: 40px;
}

/* FieldSet*/

fieldset {
	background: url(imagenes/cuadro.png) no-repeat center top;
	background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: left top;
}

label {
	display: block;
	width: 10em;
	float: left;
}
fieldset {
	width: 25em;
}

fieldset {
	border: #fff;
	
	text-align: left;
    display: inline-block;
    vertical-align: middle;
	width: 800px;
}

#fieldset{
    text-align: center;
    vertical-align: middle;
}

#fieldset [type="submit"]{
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	
	border: solid 1px #447821;
	background-color: #63ba04;
}
#fieldset [type="reset"]{
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	
	border: solid 1px #447821;
	background-color: #63ba04;
}

fieldset p{
    color: #444;
}

legend {
	color: #fff;
	background: #176700;
	font-size: 1.5em;
	padding: 5px;
	font-family: 'fuentes2';
	width: 200px;
	text-align: center;
	
	/* Firefox */
	-moz-border-radius-topleft: 40px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 40px;
	-moz-border-radius-bottomleft: 0px;
 
	/* Google Chrome y Safari */
	-webkit-border-top-left-radius: 40px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 40px;
	-webkit-border-bottom-left-radius: 0px;
 
	/* CSS3 (Opera 10.5 e Internet Explorer 9) */
	border-top-left-radius: 40px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 40px;
	border-bottom-left-radius: 0px;
}

#interior{
	width: 400px;
}
#reducir{
	width: 400px;
}

/*Excepcion*/

#fallo{
	text-align: center;
	font-size: 20px;
	background-color: #FF6969;
	color: black;
	padding: 5px;
}