{% extends 'plantilla_principal.html' %}

{% block accion %}
<div id="fieldset">
<fieldset>
    <legend>Modificar</legend>
<form action="index.php" method="post" enctype="multipart/form-data">
{% for d in consultaRecetas %}
	<table cellspacing="5" class="borde">
      <tbody>
        <tr>
          <td><strong>Nombre:</strong></td>
          <td><input type="text" name="nombre" value="{{ d.nombre }}" size="40" maxlength="40" /></td>
        </tr>
		<tr>
          <td><strong>Tipo:</strong></td>
          <td><select name="tipo" selected="2">
		  {% if d.tipo %}
			  <option value="{{ d.tipo }}">{{ d.tipo }}</option>
			{% if d.tipo != "Entrante" %}
			  <option value="Entrante">Entrante</option>
			{% endif %}
			{% if d.tipo != "Primero" %}
			  <option value="Primero">Primero</option>
			{% endif %}
			{% if d.tipo != "Segundo" %}
			  <option value="Segundo">Segundo</option>
			{% endif %}
			{% if d.tipo != "Postre" %}
			  <option value="Postre">Postre</option>
			{% endif %}
		  {% else %}
		    <option/>
			<option value="Entrante">Entrante</option>
			<option value="Primero">Primero</option>
			<option value="Segundo">Segundo</option>
			<option value="Postre">Postre</option>
		  {% endif %}
			
		  </select></td>
		<tr>
          <td><strong>Tiempo elaboracion:</strong></td>
          <td><input type="time" name="tiempo_elaboracion" value="{{ d.tiempo_elaboracion }}" size="20" maxlength="20" /></td>
        </tr>
		<input type="hidden" name="fecha_modificacion" value="{{ fecha }}" size="10" maxlength="10" /></td>
		<tr>
          <td><strong>Imagen:</strong></td>
          <td><input type="file" name="imagen" value="{{ d.imagen }}" size="20" maxlength="20" /></td>
        </tr>
        <input type="hidden" name="editor" value="{{ d.editor }}" size="25" maxlength="25" />
		<input type="hidden" name="id" value="{{ d.id }}" />
		<input type="hidden" name="fase" value ="editar" />
		<input type="hidden" name="laImagen" value ="{{ d.imagen }}" size="25" maxlength="25" />
      </tbody>
    </table>
	<br />
    <input type="submit" name="accionEditar3" value="Modificar" /> 
    <input type="reset" value="Borrar" name="Reset" />
{% endfor %}
</form>
</fieldset>
</div>
{% endblock %}