{% extends 'plantilla_principal.html' %}

{% block accion %}
<div id="fieldset">
<fieldset id="reducir">
    <legend>Modificar</legend>
	<strong><p>Modificar pasos de la elaboracion.</p></strong>
<form action="index.php" method="post">

	<table cellspacing="5" class="borde">
      <tbody>
		{% for d in consultaPasosElaboracion %}
        <tr>
          <td>Cambiar <strong>{{ d.paso_elaboracion }}</strong> por:</td>
          <td><input type="text" name="id{{ d.id }}" value="{{ d.paso_elaboracion }}" size="40" maxlength="40" /></td>
		  <input type="hidden" name="final" value="{{ d.id }}" size="40" maxlength="40" />
        </tr>
		{% endfor %}
		<input type="hidden" name="fase" value ="editar" size="25" maxlength="25" />
      </tbody>
    </table>
	<br />
    <input type="submit" name="accionEditar5" value="Modificar" /> 
    <input type="reset" value="Borrar" name="Reset" />
	<br /><br />

	<input type="text" name="pasoElaboracion" size="40" maxlength="40" />
	<input type="hidden" name="id" value="{{ id }}" />
	<input type="hidden" name="fase" value ="editar" />
	
	<input type="submit" name="accionEditar5Insertar" value="Insertar" /> 
</form>
</fieldset>
</div>
{% endblock %}