{% extends 'plantilla_principal.html' %}

{% block accion %}
<div id="fieldset">
<fieldset id="reducir">
    <legend>Insertar</legend>
	<form action="index.php" method="post">
		<strong>Inseta los ingredientes de la receta:</strong><br />
		<input type="text" name="ingrediente" size="25" maxlength="250" /><br />
		<input type='hidden' name='buscar' value="{{ nombre }}" size='40' maxlength='5' /><br />
		<input type="submit" name="insertarIngrediente" value="Insertar otro ingrediente" />
		<input type="hidden" name="fase" value ="insertar" size="25" maxlength="25" />
	</form>

	<form action="index.php" method="post">
		<input type='hidden' name='pasar' value="{{ nombre }}" size='40' maxlength='5' />
		<input type="submit" name="insertarElaboracion" value="Ir a elaboracion" />
		<input type="hidden" name="fase" value ="insertar" size="25" maxlength="25" />
	</form>

	<table id="interior">
		{% for d in consultaIngredientes %}
			<tr><td>{{ d.ingrediente }}</td></tr>
		{% endfor %}
	</table>
</fieldset>
</div>
{% endblock %}