{% extends 'plantilla_principal.html' %}

{% block accion %}
<div id="fieldset">
<form action="index.php" method="post" enctype='multipart/form-data'>
  <fieldset>
    <legend>Insertar</legend>
    <strong><p>Insertar los datos de la receta.</p></strong>

	<table cellspacing="5" class="borde">
      <tbody>
        <tr>
          <td><strong>Nombre:</strong></td>
          <td><input type="text" name="nombre" size="40" maxlength="40" /></td>
        </tr>
		<tr>
          <td><strong>Tipo:</strong></td>
          <td><select name="tipo">
		    <option />
			<option> Entrante </option>
			<option> Primero </option>
			<option> Segundo </option>
			<option> Postre </option>
		  </select></td>
        </tr>
		<input type="hidden" name="ingrediente" value="vacio" size="25" maxlength="25" />
		<input type="hidden" name="pasoElaboracion" value="vacio" size="40" maxlength="40" />
        </tr>
		<tr>
          <td><strong>Tiempo elaboracion:</strong></td>
          <td><input type="time" name="tiempo_elaboracion" size="20" maxlength="20" /></td>
        </tr>
		<input type="hidden" name="fecha_creacion" value="{{ fecha }}" size="10" maxlength="10" /></td>
        <input type="hidden" name="fecha_modificacion" value="{{ fecha }}" size="10" maxlength="10" /></td>
		<tr>
          <td><strong>Imagen:</strong></td>
          <td><input type="file" name="imagen" size="20" maxlength="20" /></td>
        </tr>
		<input type="hidden" name="editor" value ="{{ usuario }}" size="25" maxlength="25" />
		<input type="hidden" name="fase" value ="insertar" size="25" maxlength="25" />
      </tbody>
    </table>
	<br />
    <input type="submit" name="accionInsertar2" value="Insertar" /> 
    <input type="reset" value="Borrar" name="Reset" />
</form>
</div>
{% endblock %}