{% extends 'plantilla_principal.html' %}

{% block accion %}
<div id="fieldset">
<fieldset id="reducir">
    <legend>Insertar</legend>
	<form action="index.php" method="post">
		<strong>Pasos para la elaboracion:</strong><br />
		<input type="text" name="pasoElaboracion" size="40" maxlength="40" /><br />
		<input type='hidden' name='buscar' value="{{ nombre }}" size='40' maxlength='5' /><br />
		<input type="submit" name="insertarElaboracion" value="Insertar paso elaboracion" />
		<input type="hidden" name="fase" value ="insertar" size="25" maxlength="25" />
	</form>

	<form action="index.php" method="post">
		<input type="submit" name="accionInsertar4" value="Terminar receta" />
	</form>

	<table id="interior">
		{% for d in consultaPasosElaboracion %}
			<tr><td>{{ d.paso_elaboracion }}</td></tr>
		{% endfor %}
	</table>
</fieldset>
</div>
{% endblock %}