<html>
	<head>
		<title>{{ titulo }}</title>

		<link rel="stylesheet" type="text/css" href="estilos.css" />
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="shortcut icon" href="imagenes/favicon.png" type="image/png" />
	</head>
	<body>
		<div class="encabezado">
			{% if usuario %}
				Usuario.: <CODE>{{ usuario }}</CODE>.<br>
			{% else %}
				Tienes que logearte para modificar recetas.<br>
			{% endif %}
			Estas a {{ "now"|date("d M Y h:i")  }}.<br>
			<p id="textoDerecha">Aplicacion recetas</p>
			{% if usuario %}
				<a href="logout.php">Salir de la sesion</a>
			{% else %}
				<a href="login.php">Registrarse</a>
			{% endif %}
		</div>

		<div class="cuerpo">
			<div class="titulo">{{ subtitulo }}</div>
			<br><br><br>
			
			
			{% block accion %}{% endblock %}
			
			
		</div>
	</body>
</html>

