{% extends 'plantilla_principal.html' %}

{% block accion %}
	<table border='1' id="example" class="display">
		<th width='20'>Nombre</th><th width='20'>Ingredientes</th><th width='20'>Elaboracion</th>
		<th width='20'>Tipo</th><th width='20'>Tiempo elaboracion</th><th width='20'>Fecha creacion</th>
		<th width='20'>Fecha modificacion</th><th width='20'>Imagen</th><th width='20'>Editor</th>
		{% if usuario %}
			<th width='20' align="center">Borrar</th><th width='20' align="center">Editar</th>
		{% endif %}
		{% for d in consultaRecetas %}
		<tr>
			<td>{{ d.nombre }}</td>
			<td>
				{% for r in consultaIngredientes %}
					{% if d.id == r.id_receta_id %}
						{{ r.ingrediente }}<br />
					{% endif %}
				{% endfor %}
			</td>
			<td>
				{% for l in consultaPasosElaboracion %}
					{% if d.id == l.id_receta_id %}
						{{ l.paso_elaboracion }}<br />
					{% endif %}
				{% endfor %}
			</td>
			<td>{{ d.tipo }}</td>
			<td align="center">{{ d.tiempo_elaboracion }}</td>
			<td>{{ d.fecha_creacion }}</td>
			<td>{{ d.fecha_modificacion }}</td>
			<td align="center">
			{% if d.imagen %}
				<img src="subir/{{ d.imagen }}" alt="Imagen receta" height="42" width="42">
			{% else %}
				<img src="imagenes/sin_imagen.jpg" alt="Receta sin imagen" height="42" width="42">
			{% endif %}		
			</td>
			<td>{{ d.editor }}</td>
			{% if usuario %}
				<td align="center">
				{% if usuario == d.editor %}
					<a href='index.php?fase=borrar&id={{ d.id }}&imagen={{ d.imagen }}'><img src="imagenes/borrar.ico" alt="Borrar receta" height="42" width="42" /></a>
				{% endif %}
				</td>
			{% endif %}
			
			{% if usuario %}
				<td align="center">
				{% if usuario == d.editor %}
					<a href='index.php?fase=editar&accionEditar2=editar&id={{ d.id }}'><img src="imagenes/editar.png" alt="Editar receta" height="42" width="42" /></a>
				{% endif %}
				</td>
			{% endif %}
		</tr> 
		{% endfor %}
		<tr>
			{% if usuario %}
				<td colspan="11" id="campoInsertar"><a href="index.php?fase=insertar">Insertar</a></td>
			{% endif %}
		</tr>
	</table>
{% endblock %}